# Все параметры могут быть изменены флагами командной строки
# Расположение файлов xen
dir = /mnt/xen
#
# Метод установки
install-method = debootstrap
#
# Размер диска поумолчанию
size = 2Gb
#
# Размер памяти поумолчанию
memory = 512Mb
#
# Размер Swap
swap = 512Mb
#
# Тип файловой системы
fs = ext4
#
# Дистрибутив поумолчанию
dist = xenial
# или текущий
# dist = \`xt-guess-suite-and-mirror --suite\`
#
# Тип имиджа (может быть full с файловой таблицей)
image = sparse
#
# Настройки сети
#gateway = 192.168.120.1
#netmask = 255.255.255.0
#broadcast = 192.168.1.255
dhcp = 1
#
# Ядро
kernel = /boot/vmlinuz-\`uname -r\`
initrd = /boot/initrd.img-\`uname -r\`
#
# Адрес Репы
mirror = {{ xen_rep }}
#
# Параметры к дисковым системам
ext3_options = noatime,nodiratime,errors=remount-ro
ext2_options = noatime,nodiratime,errors=remount-ro
ext4_options = noatime,nodiratime,errors=remount-ro
xfs_options = defaults
reiserfs_options = defaults
btrfs_options = defaults
#
serial_device = hvc0 #default
#
# Наименование диска
disk_device = xvda
#
# Генерировать случайный пароль root или нет
genpass=0

