#!/bin/bash

exit 1


# Местонахождение всех настроек
xenDisk="/mnt/xen"

# Придумываем имя машины
hostname="ubuntu16"

# Размер корней системы
size="2Gb"

# Тип дисковой системы
# Если используем файловый образ
#disk="--dir=${xenDisk}"
# Если используем LVM
disk="--lvm=vg"

# Настройка сети
network="--dhcp --bridge=br0"

# Память
memory="512Mb"

# Зеркало
mirror='{{ xen_rep }}'

# 16.04 (Xenial Xerus)
udist='xenial'

# Пароль для root
passwd='{{ xen_root_pass }}'

ubuntu (){
	# Занимемся skel
	rm -rf /etc/xen-tools/skel/*
	cp -r ${xenDisk}/skel/ubuntu/* /etc/xen-tools/skel/

	# Создаем систему
	xen-create-image \
		--cache=no \
		--pygrub \
		--password="${passwd}" \
		--hostname=${hostname} \
		--size=${size} \
		--swap=256Mb\
		${network} \
		--memory=${memory} \
		--arch=amd64 \
		--role=my \
		--dist=${udist} \
		${disk} \
		--mirror="${mirror}"

	# Чистим skel
	rm -rf /etc/xen-tools/skel/*
}

ubuntu

# Создаем систему
mv /etc/xen/${hostname}.cfg ${xenDisk}/cfg/

# Запускаем систему
#xl create ${xenDisk}/cfg/${hostname}.cfg

# Подключаемся
#xl console ${hostname}

