#!/bin/bash
# Копирование xen-виртуальной машины

exit 1


# Местонахождение всех настроек
xenDisk="/mnt/xen"

# Придумываем имя машины
hostname="test-server"

# Размер корней системы
size="5Gb"

# Тип дисковой системы
# Если хотим образы в файлах
#disk="--dir=${xenDisk}"
# Если хотим LVM
disk="--lvm=vg"

# Настройка сети
network="--dhcp --bridge=br0"

# Память
memory="2048Mb"

# Кол-во ядер
vcpus=4

# Зеркало
mirror='{{ xen_rep }}'

# 16.04 (Xenial Xerus)
udist='xenial'

# Пароль для root
passwd='{{ xen_root_pass }}'

# Имя исходной системы для копирования
oldName='ubuntu16'


# Монтируем старую систему
mkdir /mnt/${oldName}
# Если используем файлы образов
#mount /mnt/xen/domains/${oldName}/disk.img /mnt/${oldName} -o loop
# Если используем LVM
mount /dev/vg/${oldName}-disk /mnt/${oldName}

# Создаем новую систему

xen-create-image \
	--cache=no \
	--pygrub \
	--password="${passwd}" \
	--hostname=${hostname} \
	--size=${size} \
	--swap=256Mb\
	${network} \
	--vcpus=${vcpus} \
	--memory=${memory} \
	--arch=amd64 \
	--role=my \
	--dist=${udist} \
	${disk} \
	--install-method=copy \
	--install-source=/mnt/${oldName} \
	--mirror="${mirror}"


# Отмонтирываем исходную систему
umount /mnt/${oldName}
rmdir /mnt/${oldName}

# Создаем систему
mv /etc/xen/${hostname}.cfg ${xenDisk}/cfg/

